---
import Events from "./Events.astro";
import Introduction from "./Introduction.astro";
import PostsIsland from "../islands/Posts.tsx";
import HR from "../ui/HR.astro";
import type { Posts } from "../../lib/posts";

interface Props {
  posts?: Posts;
  postsError?: string;
  endpoint?: string;
}

const { posts, postsError, endpoint = "" } = Astro.props;
---

<div class="space-y-12">
  <HR />
  <div class="grid grid-cols-1 lg:grid-cols-5 gap-12">
    <div class="lg:col-span-2 flex flex-col gap-8">
      <Introduction />

      <HR class="max-w-[4rem]" />

      {
        (posts || postsError) && (
          <PostsIsland
            client:load
            initialPosts={posts}
            initialError={postsError}
            endpoint={endpoint}
          />
        )
      }
    </div>
    <div class="lg:col-span-3">
      <Events />
    </div>
  </div>
</div>
