---
/**
 * Shows a "logged in as guest" notice in the footer when user is authenticated
 */
const user = Astro.locals.user;
---

{user?.id === "guest" && (
  <p class="guest-notice">
    You are currently logged in as a guest.{" "}
    <a href="/logout">Logout</a>
  </p>
)}

<style>
  .guest-notice {
    font-size: 0.625rem;
    color: #a3a3a3;
  }

  .guest-notice a {
    color: inherit;
    text-decoration: underline;
  }

  .guest-notice a:hover {
    color: #737373;
  }

  @media (prefers-color-scheme: dark) {
    .guest-notice {
      color: #525252;
    }

    .guest-notice a:hover {
      color: #737373;
    }
  }
</style>
